body {
  font: 16px 'Lato', Arial, Helvetica, Verdana, sans-serif;
  color: white;
}

*, :after, :before, :hover, :active, :focus {
  box-sizing: border-box;
  outline: 0 !important;
}

*::selection {
  background: #FFC107;
  color: white;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a, a:hover {
  color: white;
  text-decoration: none;
}

.link, .link:hover {
  text-decoration: underline;
}

.ls {
  letter-spacing: 0.1em
}

.now {
  border-bottom: 3px solid white;
  pointer-events: none;
  cursor: default;
}

.cut {
  width: 62%;
}

/* video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: all 0.2s ease 0s;
  opacity: 0.8;
} */

.container {
  background: #212121;
}

.hero-bg {
  background: #212121 url(../img/bg-1366.jpg) no-repeat top;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.white {
  background-color: white;
  border-radius: 10px;
  padding: 80px 40px;
  color: #212121;
  box-shadow: inset 0px 12px 20px rgba(0, 0, 0, 0.2);
}

/* .menu-icon {
  width: 100%;
  background: black;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  cursor: pointer;
  color: #fff;
  display: none;
} */

.nav-bar {
  z-index: 3;
  position: absolute;
  padding: 40px 0;
  width: 100%;
  height: 0;
}

#logo {
  float: left;
  display: block;
  margin-left: 40px;
  font: 1.5em "Oswald";
  text-transform: uppercase;
}

#menu {
  float: right;
  margin-right: 40px;
  display: flex;
  font: 1.5em "Oswald";
  padding-bottom: 0.2em;
}

#toggle {
  margin-top: 10px;
  position: fixed;
  right: 40px;
  z-index: 2;
  width: 19px;
  height: 19px;
  cursor: pointer;
  float: right;
  transition: all 0.4s ease 0s;
  visibility: hidden;
  opacity: 0;
}

#toggle .span {
  margin-bottom: 5px;
  height: 3px;
  background: #fff;
  transition: all 0.4s ease 0s;
  backface-visibility: hidden;
}

#toggle #three {
  margin-bottom: 0;
}

#toggle.on #one {
  transform: rotate(45deg) translate(2px, 4px);
}

#toggle.on #two {
  opacity: 0;
}

#toggle.on #three {
  transform: rotate(-45deg) translate(8px, -10px);
}

#resize {
  z-index: 1;
  position: fixed;
  background: #212121;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#resize #menu {
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease 0s;
}

#resize #menu .item {
  margin-bottom: 20px;
}

#resize #menu .item-lang {
  max-width: 1;
}

#resize.active {
  visibility: visible;
  opacity: 1;
}

.item {
  margin-left: 20px;
  transition: all 0.2s ease 0s;
}

.item:hover {
  border-bottom: 3px solid #fff;
}

.item-lang {
  margin-left: 20px;
  font-size: 18px;
  border: 2px solid #fff;
  padding: 5px;
}

.hero-wrapper {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.hero-section {
  pointer-events: none;
  cursor: default;
}

.hero-wrapper h1 {
  font: 4em 'Oswald', Arial, Helvetica, Verdana, sans-serif;
  line-height: 1.2em;
}

.hero-wrapper p {
  margin-top: 20px;
  font-size: 1.2em;
}

.card {
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 3%;
  padding-top: 1%;
  width: 98%;
  height: 75vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease 0s;
}

.card:hover {
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.4);
}

.project-card {
  height: 100%;
  width: 100%;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  position: relative;
  padding: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.project-card h3 {
  font: 3em 'Oswald'
}

.project-card::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  transition: all 0.4s ease 0s;
}

.project-card:hover::after {
  opacity: 0.9;
}

.card-content {
  z-index: 1;
  max-width: 320px;
}

.project-btn {
  display: inline-block;
}

.tesla {
   background: url(../img/tesla.jpg) no-repeat center;
   background-size: cover;
}

.tesla::after {
  content: "";
  background: #F44336;
  background-size: cover;
}

.slack {
   background: url(../img/slack.jpg) no-repeat center;
   background-size: cover;
}

.slack::after {
  content: "";
  background: #3F51B5;
  background-size: cover;
}

.palantir {
   background: url(../img/palantir.jpg) no-repeat center;
   background-size: cover;
}

.palantir::after {
  content: "";
  background: #607D8B;
  background-size: cover;
}

.myclean {
   background: url(../img/myclean.jpg) no-repeat center;
   background-size: cover;
}

.myclean::after {
  content: "";
  background: #03A9F4;
  background-size: cover;
}

.robinhood {
   background: url(../img/robinhood.jpg) no-repeat center;
   background-size: cover;
}

.robinhood::after {
  content: "";
  background: #009688;
  background-size: cover;
}

/* .about-btn {
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px;
  display: inline-block;
  background: none;
  border: 3px solid #fff;
  padding: 1em 3em;
  color: #fff;
  transition: all 0.2s ease 0s;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.1em;
}

.up:hover, .up:focus {
  box-shadow: inset 0 -3.25em 0 0 #fff;
  color: #212121;
} */

.hero-btn {
  border-radius: 50px;
  font-weight: bold;
  margin-top: 40px;
  display: inline-block;
  position: relative;
  background: #fff;
  padding: 1.2em 4em;
  color: #212121;
  transition: all 0.4s ease 0s;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.1em;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.hero-btn:hover {
  background-color: #FFC107;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2), 0px 0px 40px rgba(255, 224, 130, 1);
  color: white;
  transform: translateY(-0.2em);
}

.last {
  width: 98%;
  display: block;
  background: #212121;
  padding: 40px;
  margin: 0 1%;
}

.vverh {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: white;
  position: fixed;
  bottom: 25px;
  right: 40px;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.vverh i {
  color: #212121;
}

.screen-404 {
  height: 100vh;
  width: 100%;
  background: #212121 no-repeat center;
  background-size: cover;
  padding: 40px;
  position: relative;
}

/* Large screens */

@media screen and (min-width: 1920px) {
  .hero-bg {
    background: url("../img/bg-1920.jpg") no-repeat top;
    background-size: cover;
  }
  .cut {
    width: 40%;
  }
}

/* Mobile */

@media screen and (max-width: 1024px) {
  .cut {
    width: 100%;
  }
}

@media(max-width: 768px) {
  #resize {
    z-index: 2;
  }
  #logo {
    position: fixed;
  }
  #toggle {
    visibility: visible;
    opacity: 1;
  }
  #menu {
    display: none;
  }
}

@media(min-width: 768px) {
  #resize {
    visibility: hidden !important;
  }
}
