html {
  color: #212121;
  font: 18px 'Lato', Arial;
}

*, :after, :before, :hover, :active, :focus {
  box-sizing: border-box;
  outline: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a, a:hover {
  text-decoration: none;
  color: #212121;
}

*::selection {
  color: #fff;
  background: #000;
}

.gandalf {
  display: flex;
  align-items: center;
  height: 100vh;
  background: #F5F5F5;
  border: 40px solid #fff;
}

.nazgul {
  position: absolute;
  padding: 80px 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
}

.logo {
  font: 24px 'Oswald';
}

.menu {
  display: flex;
}

.item {
  font: 18px 'Oswald';
  margin-left: 20px;
  position: relative;
  transition: all 0.2s ease 0s;
}

.item:hover {
  opacity: 0.6;
}

.hero {
  margin-left: 80px;
}

.hero p {
  margin-bottom: 20px;
}

.hero h1 {
  font: 72px 'Oswald';
  line-height: 72px;
  margin-left: -0.03em;
}

.btn {
  display: inline-block;
  margin-top: 40px;
  padding: 1em 2em;
  line-height: 1em;
  background: #1E3C5A;
  color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(10, 12, 15, .15);
  transition: all 0.2s ease 0s;
  cursor: pointer;
}

.btn:hover {
  background: #285078;
  color: #fff;
}

.gollum {
  position: absolute;
  bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 120px;
  width: 100%;
}

#down {
  display: inline-block;
  transition: all 0.2s ease 0s;
}

#down:hover {
  opacity: 0.8;
}

#up {
  margin-right: -0.5em;
  display: inline-block;
  position: fixed;
  right: 40px;
  bottom: 40px;
  transition: all 0.2s ease 0s;
}

#up:hover {
  opacity: 0.8;
}

.lang {
  text-align: right;
  transition: all 0.2s ease 0s;
}

.lang:hover {
  opacity: 0.6;
}

.card {
  color: #fff;
  display: flex;
  position: relative;
  height: 62vh;
  margin-bottom: 40px;
}

.card:last-child {
  margin-bottom: 0;
}

.img-area {
  width: 38%;
  position: relative;
}

.text-area {
  background: #F5F5F5;
  padding-left: 40px;
  padding-right: 160px;
  color: #212121;
  width: 62%;
  display: flex;
  align-items: center;
}

.text-area h4 {
  font: 48px 'Oswald';
}

.text-area p {
  line-height: 28px;
  margin: 10px 0;
}

.link {
  display: inline-block;
  color: #50A0F0;
  transition: all 0.2s ease 0s;
}

.link:hover {
  color: #50A0F0;
  opacity: 0.6;
}

.right {
  display: block;
  text-align: right;
}

.slack {
  background: url(../img/slack.jpg) no-repeat center;
  background-size: cover;
}

/* .comma {
  background: url(../img/comma.jpg) no-repeat center;
  background-size: cover;
}

.comma::after {
  background: #212121;
}

.palantir {
  background: url(../img/palantir.jpg) no-repeat center;
  background-size: cover;
}

.palantir::after {
  background: #78909C;
}

.robinhood {
  background: url(../img/robinhood.jpg) no-repeat center;
  background-size: cover;
}

.robinhood::after {
  background: #66BB6A;
}

.myclean {
  background: url(../img/myclean.jpg) no-repeat center;
  background-size: cover;
}

.myclean::after {
  background: #26C6DA;
} */

.container {
  padding: 0 120px;
  margin: 80px 0;
}

.BFT {
  line-height: 1em;
  font: 54px 'Oswald';
  line-height: 72px;
  margin-left: -0.03em;
  margin-bottom: 40px;
}

/* .projects-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 32%;
  margin-bottom: 40px;
  display: block;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(10, 12, 15, .15);
}

.logo-area {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 54px 'Oswald';
  height: 50%;
}

.logo-area img {
  max-width: 62%;
  padding: 80px 0;
}

.text-area {
  padding: 20px;
  background: #F5F5F5;
  height: 50%;
}

.text-area h4 {
  font-weight: bold;
}

.text-area p {
  line-height: 28px;
  margin: 10px 0;
}

.text-area a {
  display: inline-block;
  color: #50A0F0;
  transition: all 0.2s ease 0s;
}

.text-area a:hover {
  opacity: 0.6;
}

.slack .logo-area {
  background: #7E57C2;
} */

.contact {
  margin-top: 80px;
}

.contact-form {
  width: 100%;
}

input[type=text], input[type=email], textarea {
  background: #F5F5F5;
  padding: 20px 40px;
  outline: none;
  border: none;
  font: 18px 'Lato', Arial;
  color: #212121;
  transition: all 0.2s ease 0s;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
  box-shadow: inset 0 -2px 0 #1E3C5A;
}

input[type=text], input[type=email] {
  width: 32%;
}

textarea {
  width: 100%;
  height: 8em;
  margin-bottom: 2%;
}

form .btn {
  margin-top: 0;
  margin-right: 20px;
  font: 18px 'Lato';
  line-height: 1em;
}

::placeholder {
  color: #BDBDBD;
}

.flex-between {
  margin-bottom: 2%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.flex {
  display: flex;
  align-items: baseline;
  margin-bottom: 2%;
}

.frodo {
  display: flex;
  padding: 40px 120px;
  text-align: center;
  background: #F5F5F5;
}

.frodo a {
  color: #BDBDBD;
  text-decoration: underline;
  transition: all 0.2s ease 0s;
}

.frodo a:hover {
  opacity: 0.6;
}

.disable {
  color: #BDBDBD;
  pointer-events: none;
  cursor: default;
}
